<% provide(:title, @recipe.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @recipe.name %></h1>
      <p><%= @recipe.short %></p>
      <img itemprop="image" class="photo" src="http://thumbs.ifood.tv/files/Grilled Pepper Steak.jpg" alt="Grilled Pepper Steak picture" title="Grilled Pepper Steak" width="500">
      <%= @recipe.serving %> pers <br />
      <%= @recipe.difficulty %> stars
    </section>
  </aside>
	<pre class="span6">
  	<%= @recipe.detail %>
  </pre>
</div>
  <h3>Comments:</h3>
  <% if current_user == nil %>
    <p>Sign in to post a comment</p>
  <% else %>
    <%= form_for(@comment) do |f| %>

    <% end %>
  <% end %>
  <% if @recipe.comments.empty? %>
    <p>No comment yet</p>
  <% else %>
  <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> Star
</button>

    <ul>
      <hr />
      <% @recipe.comments.each do |c| %>
      <li id="<%= c.id %>">
        <%= link_to gravatar_for(c.user), c.user %>
        <span class="user">
          <%= link_to c.user.login, c.user %>
        </span>
        <div class="content">{<%= raw "<span class='glyphicon glyphicon-star'></span>" * c.rating %><%= "." * (5-c.rating) %> } <%=c.content %></div>
        <span class="timestamp">
          Posted <%= time_ago_in_words(c.created_at) %> ago.
        </span>
      </li>
      <hr />
      <% end %>
    </ul>
  <% end %>

